<div *ngIf="myArray" class="card">
  <div class="card-header">{{myArray.question}}</div>

  <ul class="list-group">
    <li *ngFor="let opt of myArray.options"
      [class.selected]="opt.score === activeItem"
      (click)="saveAnswer(opt.score)"
      class="list-group-item">
      {{opt.option}}
    </li>
  </ul>

</div>

<div class="row">
  <div *ngIf="totalQ == 0" class="col-md-12">
    <div class="alert alert-primary" role="alert">
      <p>Hej! Today 24 April 2019, Ian turns 26. To celebrate his birthday, let's play a game!</p>
    </div>
    <button type="button" name="start" (click)="startQuiz(questions[0])" class="btn btn-primary">Start</button>
  </div>
</div>

<div class="row">

  <div *ngIf="totalQ == questions.length+1" class="col-md-12">
    <div class="alert alert-warning">
      <h5>Your result: </h5>
      <h4>{{finalStatus}}</h4>
    </div>

    <p class="alert alert-success">Send a birthday wish to Ian/Pur/Greg (whatever you call him). Share <a href="#" (click) = showPicture()>this picture</a> on your IG story(mention @gregkristian) or send him a message with the picture ^^
    </p>
    <div class="final-image" [class.selected]="show === true">
      <img src="assets/ultah-{{meter}}.jpg" alt="">
    </div>
  </div>

</div>
